
body{
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    width: 100%;
    margin: 0;
}

.board{
    margin-top: 3rem;
    border-width: medium;
    border-style: solid;
    border-color: green;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25rem .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}



